labels: {}
annotations:
  nginx.ingress.kubernetes.io/proxy-connect-timeout: "30"

postgresql:
  enabled: true
  fullnameOverride: postgresql
  architecture: standalone
  auth:
    existingSecret: zimagi-db # keys: postgres-password, replication-password, password
    database: zimagi
    username: zimagi
  primary:
    resources: {}
    # requests:
    #   cpu: 250m
    #   memory: 512Mi
    # limits:
    #   cpu: 1
    #   memory: 1Gi
    persistence:
      enabled: true
      size: 10Gi
  volumePermissions:
    enabled: true

redis:
  enabled: true
  fullnameOverride: redis
  architecture: standalone
  auth:
    existingSecret: zimagi-db
    existingSecretPasswordKey: redis-password
  master:
    resources: {}
    # requests:
    #   cpu: 250m
    #   memory: 512Mi
    # limits:
    #   cpu: 1
    #   memory: 1Gi
    persistence:
      enabled: true
      size: 5Gi
  volumePermissions:
    enabled: true

qdrant:
  enabled: true
  fullnameOverride: qdrant
  env:
    - name: QDRANT__SERVICE__API_KEY
      valueFrom:
        secretKeyRef:
          name: zimagi-db
          key: qdrant-access-key
    - name: QDRANT__LOG_LEVEL
      value: INFO
    - name: QDRANT__SERVICE__MAX_REQUEST_SIZE_MB
      value: 1000
  ingress:
    enabled: false
  livenessProbe:
    enabled: true
  resources: {}
  #  limits:
  #    cpu: 100m
  #    memory: 128Mi
  #  requests:
  #    cpu: 100m
  #    memory: 128Mi
  persistence:
    size: 5Gi
  snapshotPersistence:
    enabled: false
    size: 20Gi

image:
  pullSecrets: []
  pullPolicy: IfNotPresent
  repository: registry.hub.docker.com
  image: zimagi/server
  tag: 0.14.22

roles:
  pod-accessor:
    rules:
      - resources: pods
        verbs:
          - get

  scheduler-config-updater:
    rules:
      - resources: configmaps
        resourceNames: scheduler
        verbs:
          - get
          - patch

  service-config-updater:
    rules:
      - resources: configmaps
        resourceNames:
          - command-api
          - data-api
        verbs:
          - get
          - patch

  agent-executor:
    rules:
      - apiGroups: apps
        resources: deployments
        verbs:
          - get
          - list
          - create
          - patch
          - delete

  job-executor:
    rules:
      - apiGroups: batch
        resources: jobs
        verbs:
          - get
          - list
          - create
          - delete

serviceAccounts:
  worker:
    access:
      - scheduler-config-updater
      - pod-accessor
      - job-executor

pvc:
  claims:
    files:
      storageClass: longhorn
      accessMode: ReadWriteMany
      size: 10Gi
  mounts: {}

volumes:
  config: {}
  secret: {}
  host: {}

deployment:
  replicaCount: 1

  revisionHistoryLimit: 1
  updateStrategy:
    type: RollingUpdate

  podSecurityContext: {}
  containerSecurityContext: {}

  priorityClassName: ""
  affinity: {}
  podAffinityPreset: ""
  podAntiAffinityPreset: soft
  nodeAffinityPreset:
    type: ""
    key: ""
    values: []

  nodeSelector: {}
  tolerations: []
  resources: {}
  #  requests:
  #    cpu: "100m"
  #    memory: "100Mi"
  #  limits:
  #    cpu: "200m"
  #    memory: "250Mi"

  env:
    KUBERNETES_WORKER_SERVICE_ACCOUNT: worker
    ZIMAGI_WORKER_PROVIDER: kubernetes
    ZIMAGI_POSTGRES_HOST: "{{ .Values.postgresql.fullnameOverride }}"
    ZIMAGI_POSTGRES_PORT: 5432
    ZIMAGI_POSTGRES_DB: "{{ .Values.postgresql.auth.database }}"
    ZIMAGI_POSTGRES_USER: "{{ .Values.postgresql.auth.username }}"
    ZIMAGI_REDIS_HOST: "{{ .Values.redis.fullnameOverride }}-master"
    ZIMAGI_REDIS_PORT: 6379
    ZIMAGI_QDRANT_HOST: "{{ .Values.qdrant.fullnameOverride }}"
    ZIMAGI_QDRANT_PORT: 6333
    ZIMAGI_QDRANT_HTTPS: false

  config:
    - global
  secrets:
    - global

  protocol: HTTP
  port: 5000

  livenessProbe:
    endpoint: "/status"
    failureThreshold: 20
    initialDelaySeconds: 5
    periodSeconds: 6
    successThreshold: 1
    timeoutSeconds: 5

  readinessProbe:
    endpoint: "/status"
    failureThreshold: 3
    initialDelaySeconds: 10
    periodSeconds: 5
    successThreshold: 3
    timeoutSeconds: 5

autoscaling:
  minReplicas: 1
  maxReplicas: 4
  avgCpuUtilization: 70

service:
  type: ClusterIP
  protocol: http
  port: 80

ingress:
  className: ""
  hosts: []
  tls: []
  #   - secretName: origin-cert

services:
  command-api:
    image:
      entrypoint: "zimagi-command"
    access:
      - scheduler-config-updater
      - pod-accessor
      - job-executor
    pvc:
      mounts:
        "/usr/local/lib/zimagi/files": files
    deployment:
      config:
        - global
        - command-api
      resources: {}
      #  requests:
      #    cpu: "100m"
      #    memory: "100Mi"
      #  limits:
      #    cpu: "200m"
      #    memory: "512Mi"
    autoscaling:
      enabled: false
    service:
      enabled: true
    ingress:
      enabled: false
      # hosts:
      #   - host: "command-api.${domain}"
    annotations:
      nginx.ingress.kubernetes.io/proxy-read-timeout: "86400" # 1 day

  mcp-api:
    image:
      entrypoint: "zimagi-mcp"
    access:
      - scheduler-config-updater
      - pod-accessor
      - job-executor
    pvc:
      mounts:
        "/usr/local/lib/zimagi/files": files
    deployment:
      config:
        - global
        - mcp-api
      resources: {}
      #  requests:
      #    cpu: "100m"
      #    memory: "100Mi"
      #  limits:
      #    cpu: "200m"
      #    memory: "512Mi"
    autoscaling:
      enabled: false
    service:
      enabled: true
    ingress:
      enabled: false
      # hosts:
      #   - host: "mcp.${domain}"
    annotations:
      nginx.ingress.kubernetes.io/proxy-read-timeout: "86400" # 1 day

  data-api:
    image:
      entrypoint: "zimagi-data"
    pvc:
      mounts:
        "/usr/local/lib/zimagi/files": files
    deployment:
      config:
        - global
        - data-api
      resources: {}
      #  requests:
      #    cpu: "100m"
      #    memory: "100Mi"
      #  limits:
      #    cpu: "200m"
      #    memory: "512Mi"
    autoscaling:
      enabled: false
    service:
      enabled: true
    ingress:
      enabled: false
      # hosts:
      #   - host: "data-api.${domain}"
    annotations:
      nginx.ingress.kubernetes.io/proxy-read-timeout: "600" # 10 minutes

  scheduler:
    image:
      entrypoint: "zimagi-scheduler"
    access:
      - service-config-updater
      - pod-accessor
      - job-executor
    pvc:
      mounts:
        "/usr/local/lib/zimagi/files": files
    deployment:
      config:
        - global
        - scheduler
      resources: {}
      #  requests:
      #    cpu: "10m"
      #    memory: "50Mi"
      #  limits:
      #    cpu: "50m"
      #    memory: "150Mi"

  controller:
    image:
      entrypoint: "zimagi-controller"
    access:
      - pod-accessor
      - agent-executor
    pvc:
      mounts:
        "/usr/local/lib/zimagi/files": files
    deployment:
      config:
        - global
        - controller
      resources: {}
      #  requests:
      #    cpu: "10m"
      #    memory: "50Mi"
      #  limits:
      #    cpu: "50m"
      #    memory: "150Mi"

  tasks:
    image:
      entrypoint: "celery-flower"
    deployment:
      config:
        - global
        - flower
      livenessProbe:
        endpoint: "/"
      readinessProbe:
        endpoint: "/"
      resources: {}
      #  requests:
      #    cpu: "20m"
      #    memory: "50Mi"
      #  limits:
      #    cpu: "100m"
      #    memory: "150Mi"
    autoscaling:
      enabled: false
    service:
      enabled: true
    ingress:
      enabled: false
      # hosts:
      #   - host: "tasks.${domain}"
